@import "tailwindcss";

@theme {
  --color-awida-green: #054C28;
  --color-awida-red: #841A25;
  --color-awida-gold: #D8B138;
  --font-lato: var(--font-lato), ui-sans-serif, system-ui, sans-serif;
  --font-sans: var(--font-lato), ui-sans-serif, system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FAFAFA;
}
